.img-mapa{
    position: relative;
    display: inline-block;
}
  
.img-mapa img{
    max-width: 100%;
    width: 3000px;
    height: auto;
}
  
.botao-seguinte{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: 2rem;
  }