header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f7f7f7;
    color: #0046C0;
}
  
.Logo {
    display: flex;
    align-items: center;
}
  
.menu {
    display: flex;
}
  
.menu a {
    text-decoration: none;
    color: #0046C0;
    padding: 3rem;
    font-weight: 800;
    font-size: 1.2rem;
}
  
.menu a:hover {
    text-decoration: underline;
}
  