@import url('./routes/Maps.css');
@import url('./routes/Solicitacao.css');
@import url('./routes/Sobre.css');
@import url('./routes/Status.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.membros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.membros h2{
  padding-top: 3rem;
}

.membros p{
  margin-top: 0.8rem;
}



.texto-login{
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 10rem;
}

.subtitulo-login{
  margin-bottom: 3rem;
}

.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.foto-guincho{
  background-color: #0046C0;
  padding: 9.3rem 10rem 9.3rem 10rem;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
  margin-bottom: 3rem;
}

.form-control label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-control input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.paragrafo-login p{
  text-align: center;
  margin-top: 2rem;
}

.paragrafo-login p:hover{
  text-decoration: underline;
}

.botaoo{
  text-align: center;
}

button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover{
  background-color: #0056b3;
}


