@import url('./routes/Maps.css');
@import url('./routes/Solicitacao.css');
@import url('./routes/Sobre.css');
@import url('./routes/Status.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 100vh;
}

.titulo{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.membros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.membros h2{
  padding-top: 3rem;
}

.membros p{
  margin-top: 0.8rem;
}


.texto-login{
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 10rem;
}

.subtitulo-login{
  margin-bottom: 3rem;
}

.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.foto-guincho{
  height: 100vh;
  background-color: #0046C0;
  align-items: center;
}

.foto-guincho img{
  display: flex;
  padding: 10rem 10rem 0 3rem;
  width: 50rem;
  margin-right: 10rem;
  margin-left: 5rem;
}

.form{
  max-width: 600px;
  width: 600px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
  margin-bottom: 3rem;
}

.form-control label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-control input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.paragrafo-login p{
  text-align: center;
  margin-top: 2rem;
}

.paragrafo-login p:hover{
  text-decoration: underline;
}

.botao{
  text-align: center;
}

button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover{
  background-color: #0056b3;
}


@media (max-width: 600px){

  .form{
    max-width: 300px;
    width: 300px;
  }

  .foto-guincho img{
    padding: 1rem;
    width: 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .solicitacaoo{
    max-width: 100vh;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    background-color: #f7f7f7;
    color: #0046C0;
  }
  
  .logo-porto img{
    display: flex;
    align-items: center;
    width: 50rem;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu a {
    text-decoration: none;
    color: #0046C0;
    padding: 0.5rem 2rem;
    font-weight: 800;
    font-size: 1.2rem;
  }
}
